<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>

    <p>Practica realizada por Alvaro Redruello Berrueco</p>

    <img src="/images/Elmo.png" width="200"/>

    <a href="/">Página principal</a>


  </body>
</html>